body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}

section {
    margin-bottom: 60px;
}

h1, hr{
    color: rgb(133, 255, 249);
    text-align: center;
}

h2{
    color: white;
    padding: 10px 0 10px 0;
}


.reto_1 .col{
    background-color: rgb(0,  157, 121);
    border: 1px solid white;
    height: 50px;
}


.reto_2{
    text-transform: uppercase;
}

.reto_2 .col, .col-6, .col-lg{
    background-color: rgb(239, 189, 95);
    border: 1px solid white;
    min-height: 70px;
    padding-top: 10px;
}

.reto_3 .row{   
    min-height: 60px;
}

.reto_3 .col{
    background-color: rgb(197, 31, 31);
    color: white;
    border: 1px solid white;
    padding-top: 10px;
}
